# Prerequisites
*.d

# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dylib

# Executables
*.exe
*.out

# Debug files
*.dSYM/

# DS_Store
.DS_Store

# Undo files
*.un~
